body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

input,
select,
textarea {
    width: 100%;
}

.hero-unit {
    margin: 50px auto 0 auto;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.form-header,
.control-group {
    background: #e3e3e3;
    cursor: pointer;
}

.form-header:hover,
.control-group:hover {
    background: #ccc;
}

.btn {
    width: 80px;
}

.badge {
    margin-left: 5px;
}

/*
// Rotate-In
*/

.rotate.ng-enter,
.rotate.ng-leave {
    -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rotate.ng-enter,
.rotate.ng-leave.ng-leave-active {
    -webkit-transform: rotate3d(1, 2, 3, 180deg);
    transform: rotate3d(1, 2, 3, 180deg);
    opacity: 0.7;
}

.rotate.ng-enter.ng-enter-active,
.rotate.ng.leave {
    -webkit-transform: rotate3d(3, 6, 2, 0);
    transform: rotate3d(3, 6, 2, 0);
    opacity: 1;
}
