<ul class="nav nav-tabs">
    <li class="active">
        <a ui-sref="root">Add Component</a>
    </li>
    <li>
        <a ui-sref="field-settings">Edit Component</a>
    </li>
    <li>
        <a ui-sref="form-settings">Edit Form</a>
    </li>
</ul>
<aside>
    <h4>Input</h4>
    <input type="text" class="input-medium search-query" ng-model="aside.search">
    <hr>
    <div class="btn-group btn-group-vertical">
        <button class="btn btn-mini btn-primary" ng-repeat="inputType in aside.inputTypes | filter: aside.search" ng-click="aside.addToForm({
            element: 'input',
            type: inputType
        })">{{inputType}}</button>
    </div>
</aside>
