<div class="container-fluid">
    <div class="row-fluid">
        <aside class="span4">
            <app-nav></app-nav>
            <ui-view></ui-view>
        </aside>
        <main class="span8 hero-unit">
            <h6 class="text-right">Last Updated: {{main.$storage.lastUpdated | date:'yyyy-MM-dd HH:mm:ss Z'}}</h6>
            <div class="form-header" ui-sref="main.editForm">
                <h1>{{main.Form.title}}</h1>
                <p ng-bind-html="main.Form.description"></p>
            </div>
            <form class="form-horizontal">
                <div class="control-group" ng-repeat="component in main.Form.components" ui-sref="main.editComponent({componentId: $index})">
                    <label class="control-label">{{component.label}}</label>
                    <div class="controls">
                        <input type="{{component.type}}" app-no-bubbling="click">
                    </div>
                </div>
            </form>
            <button class="btn btn-primary" ng-click="main.Form.save()">save</button>
        </main>
    </div>
</div>
